
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #888888;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
      
